@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300");
@import url("http://fonts.googleapis.com/css?family=Raleway:900");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
.font-xxl {
  font-size: 36px; }

.font-xl {
  font-size: 28px; }

.font-lg {
  font-size: 22px; }

.font-md {
  font-size: 18px; }

.font-base {
  font-size: 16px; }

.font-sm {
  font-size: 14px; }

.font-xs {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif; }

body, html {
  color: #282828;
  padding-top: 25px;
  background-color: #ffffff; }

.mobile-img {
  display: none; }

.sig {
  font-weight: bold;
  font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li, .navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: 0px !important; }

.navbar-right {
  float: right !important; }

.graphic-label {
  font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  color: #aa0000;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }

.headline {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 50px;
  line-height: 1em;
  margin: 5px auto 10px auto;
  font-weight: 700;
  text-align: center;
  max-width: 775px; }

.byline {
  display: table;
  font-size: 14px;
  display: block;
  text-align: center; }
  .byline .name {
    font-weight: bold;
    display: block;
    font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif; }
    .byline .name .upper {
      text-transform: uppercase; }
  .byline .email {
    display: inline-block;
    font-family: "Roboto Slab", "Times New Roman", Times, serif; }
    .byline .email:hover {
      text-decoration: underline; }
  .byline .date {
    display: block;
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
    font-size: 12px;
    color: #666; }

.readout {
  margin: 1em auto;
  display: block;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  max-width: 700px; }
  .readout a {
    color: #aa0000; }
    .readout a:hover {
      cursor: pointer; }
  .readout .single-photo, .readout .double-photo {
    width: 100%; }
  .readout img {
    display: block;
    width: 100%; }
  .readout .photog {
    font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    margin: 0.25em 0;
    font-size: 12px;
    color: #666;
    text-align: right;
    display: block;
    width: 100%; }
  .readout .caption {
    font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    margin: 0.25em 0;
    font-size: 14px;
    color: #666;
    display: block; }
  .readout .double-photo img {
    border: 2px solid #ffffff; }

.photog {
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  margin: 0.25em 0 0 0;
  font-size: 10px;
  color: #666;
  text-align: right;
  display: block;
  width: 100%; }

.caption {
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  margin: 0.5em 0 0.5em 0;
  font-size: 12px;
  color: #666;
  display: block; }

.subhed {
  font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

.tinyhed {
  font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 1em 0 0.5em 0; }

.instructions {
  background: whitesmoke;
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-bottom: 1em; }

hr {
  border-top: 1.5px solid #ccc; }

.dotted {
  border-top: 1.5px dashed #ccc; }

#sources {
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  clear: both;
  max-width: 485px;
  color: #9b9b9b;
  display: table;
  border-top: 1px solid #ccc; }
  #sources p {
    padding: 0.5em 0 0 0; }

.comments {
  margin-top: 1em;
  background: whitesmoke;
  padding: 0.25em; }

.footer-list {
  text-align: center;
  padding: 0px 0 20px 0; }
  .footer-list a {
    display: inline; }
  .footer-list img {
    display: block;
    margin: 1em auto;
    box-shadow: none; }
  .footer-list .footer-text {
    margin-right: 1em;
    font-family: "Raleway", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px; }

.button {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: border-color 0.218s;
  -moz-transition: border 0.218s;
  -o-transition: border-color 0.218s;
  transition: border-color 0.218s;
  background: #006DBD;
  color: #ffffff;
  border: 0px;
  padding: 7px 12px; }
  .button:active,
  .button:hover {
    background-color: rgba(0, 109, 189, 0.7);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.ghost-button {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Nueue", Helvetica, Arial, sans-serif;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: border-color 0.218s;
  -moz-transition: border 0.218s;
  -o-transition: border-color 0.218s;
  transition: border-color 0.218s;
  background: transparent;
  border: 2px solid #666;
  color: #666;
  padding: 7px 12px; }
  .ghost-button:active,
  .ghost-button:hover {
    background-color: rgba(102, 102, 102, 0.05);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

@media (max-width: 767px) {
  .large-img {
    display: none; }
  .mobile-img {
    display: block; }
  .headline {
    font-size: 25px; }
  .subhed {
    font-size: 16px; }
  .readout {
    font-size: 14px; }
  .fa-facebook, .fa-twitter, .fa-google-plus {
    font-size: 18px; } }

.miss {
  display: none; }

.info #house-choice {
  margin: 1em 0 2em 0;
  text-align: center;
  height: auto;
  width: 100% h3;
    width-padding-bottom: 8px; }
  .info #house-choice .disabled:hover {
    background-color: #efefef !important; }

.map-section {
  display: block;
  margin-top: 1e; }

#map-container {
  width: 100vw;
  height: 91vh;
  display: block;
  position: relative !important; }
  #map-container #map-info {
    position: absolute;
    bottom: 40%;
    right: 30px;
    max-width: 315px;
    z-index: 99999;
    background-color: #fff;
    display: block;
    border: 1px solid #ccc;
    padding: 0.5em; }
    #map-container #map-info .headline {
      font-size: 25px;
      text-align: left; }
    #map-container #map-info .byline {
      font-size: 12px;
      text-align: left;
      line-height: 15px; }
      #map-container #map-info .byline .name a {
        color: #666; }
      #map-container #map-info .byline .date {
        font-size: 12px; }
    #map-container #map-info .readout {
      font-size: 14px;
      text-align: left; }
    #map-container #map-info .graphic-label {
      text-align: left; }
    #map-container #map-info #button-container {
      margin: 1em auto;
      height: auto;
      display: block;
      max-width: 475px; }
      #map-container #map-info #button-container h3 {
        text-align: center; }
      #map-container #map-info #button-container .input-holder {
        text-align: center;
        display: inline-block; }
      #map-container #map-info #button-container .button-holder {
        text-align: center;
        display: inline;
        float: right; }
      #map-container #map-info #button-container .income-btn {
        margin: 5px auto;
        background-color: #EFEFEF;
        border-radius: 4px;
        border: 1px solid #D0D0D0;
        overflow: hidden;
        width: 65px;
        height: 30px;
        display: inline-block;
        font-size: 16px;
        font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
        font-weight: bold; }
        #map-container #map-info #button-container .income-btn:hover {
          -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
      #map-container #map-info #button-container .income-box {
        font-family: "Roboto Slab", "Times New Roman", Times, serif;
        font-size: 20px;
        border-bottom: 1px dashed #ccc;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 125px;
        padding-left: 0.25em;
        text-align: left;
        vertical-align: 10px; }
        #map-container #map-info #button-container .income-box::-webkit-input-placeholder {
          font-weight: 300;
          text-align: left;
          line-height: 1.75em;
          font-size: 18px; }
        #map-container #map-info #button-container .income-box:focus {
          outline: 0; }
          #map-container #map-info #button-container .income-box:focus::-webkit-input-placeholder {
            color: #fff; }
    #map-container #map-info .question {
      font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 16px; }
    #map-container #map-info .dollar-sign {
      font-size: 20px;
      vertical-align: 10px; }
    #map-container #map-info .error {
      height: auto;
      width: 100%;
      display: none;
      margin: 1px auto;
      text-align: center; }
      #map-container #map-info .error .error-message {
        background: #aa0000;
        padding: 0.25em; }
    #map-container #map-info #check-button-house, #map-container #map-info #check-button-condo {
      background-color: #EFEFEF;
      border-radius: 4px;
      border: 1px solid #D0D0D0;
      overflow: hidden;
      width: 60px;
      height: 20px;
      display: inline-flex;
      margin: 0px 0.25em; }
      #map-container #map-info #check-button-house:hover, #map-container #map-info #check-button-condo:hover {
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
      #map-container #map-info #check-button-house label, #map-container #map-info #check-button-condo label {
        float: left;
        width: 100%; }
        #map-container #map-info #check-button-house label span, #map-container #map-info #check-button-condo label span {
          text-align: left;
          display: block;
          padding: 2px 2px;
          font-size: 14px;
          font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
          line-height: 0px; }
        #map-container #map-info #check-button-house label input, #map-container #map-info #check-button-condo label input {
          display: none; }
          #map-container #map-info #check-button-house label input:checked + span, #map-container #map-info #check-button-condo label input:checked + span {
            background-color: #aaa;
            color: #000; }
    #map-container #map-info .explainer {
      display: none;
      font-size: 14px;
      line-height: 18px; }
  #map-container #interface-container {
    position: absolute;
    bottom: 60px;
    right: 30px;
    max-width: 315px;
    z-index: 99999; }
    #map-container #interface-container ul {
      position: relative;
      top: 11px;
      right: 40px;
      z-index: 2; }
    #map-container #interface-container .price-explainer {
      font-family: "Roboto Slab", "Times New Roman", Times, serif;
      font-size: 14px;
      line-height: 18px; }
    #map-container #interface-container .percent-year {
      display: none; }
  #map-container .interface-selector {
    background: #EEE;
    font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 7px;
    margin: 0 !important;
    cursor: pointer;
    border-top: 1px solid #CCC;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    border-left: 1px solid #BBB; }
  #map-container .selected-interface {
    background: #fff;
    border-bottom: none;
    padding-bottom: 6px; }
  #map-container .map-interface {
    width: 315px;
    z-index: 9999;
    display: block;
    padding: 15px;
    background: #FFF;
    border-top: 1px solid #BBB;
    border-right: 1px solid #BBB;
    border-bottom: 2px solid #AAA;
    border-left: 1px solid #BBB;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  #map-container .key-holder {
    clear: both;
    margin: 1em 0; }
  #map-container .explainer {
    font-family: "Roboto Slab", "Times New Roman", Times, serif; }
  #map-container .label {
    font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    display: inline-block;
    padding: 0px;
    float: left;
    text-transform: uppercase;
    color: #aaa;
    margin: 0.5em 0; }
    #map-container .label:last-of-type {
      float: right; }
  #map-container .legend-block {
    width: 20%;
    float: left;
    border: 5px solid; }

.section:nth-child(2) {
  margin-top: 2em; }

#hover-box {
  width: 260px;
  position: absolute;
  background: #fff;
  color: #000;
  padding: 5px 8px;
  box-shadow: 0px 0px 10px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  display: none;
  z-index: 9999;
  height: 115px; }
  #hover-box .float-left {
    float: left; }
  #hover-box .float-right {
    float: right; }
  #hover-box #house-price {
    border-right: 1px dashed #ccc;
    height: 80px;
    width: 50%;
    padding: 2.5px 10px 0px 0;
    float: left; }
  #hover-box #condo-price {
    border-right: none;
    height: 80px;
    width: 50%;
    padding: 2.5px 10px 0px 10px;
    float: right; }
  #hover-box .house-row {
    display: block;
    height: 20px;
    width: 100%;
    border-bottom: 1px dashed #ccc;
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
    font-size: 12px; }
    #hover-box .house-row:last-of-type {
      border: none; }
  #hover-box .table-label {
    font-family: "Roboto Condensed", "Helvetica Nueue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #666; }
  #hover-box .zip-code, #hover-box .city, #hover-box .state {
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold; }

@media (max-width: 991px) {
  .input-holder {
    width: 100%; }
  .button-holder {
    width: 100%; } }
